{% extends layout %}

{% block content %}
<ol>
  <caption>TODO LIST</caption>
    {% for el in data.list %}
        <li>
            <ul>
                <table>
                    <tbody>
                        <td>
                            {{ el.content }}
                        </td>
                    </tbody>
                </table>
            </ul>
        </li>
    {% endfor %}
</ol>

<form method="POST" action="/todo">
    <label for="todo"> Add todo list </label>
    <input type="text" id="todo" name="todo" required
        minlength="1" maxlength="120">
    <button type="submit">Confirm</button>
</form>

{% endblock %}

