{% extends '../../layout/layout.html' %}
    {% block content%}
        <h1>
        {{title}}
        </h1>
        <div id="timer">
            date: <b id="time">{{date}}</b>
        </div>
        <ul>
        </ul>
        <script>
            const now = new Date()
            setInterval(()=>{
                const time = document.querySelector("#time");
                time.innerHTML = now 
                now.setSeconds(now.getSeconds() + 1);
            },1000)
        </script>
    {% endblock%}