{% extends '../../layout/layout.html' %}
    {% block content%}
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <style>
        html,
        body {
          position: relative;
          height: 100%;
        }
        body {
          background: #eee;
          font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: 14px;
          color: #000;
          margin: 0;
          padding: 0;
        }
  
        .swiper {
          width: 100%;
          height: 100%;
        }
  
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          height: 50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
  
        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      </style>

<div id="root"></div>

<div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        Slide 1
        <button id="btn">button?</button>
      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div> 

  <script type="module">
    const saySomething = ()=>{
      const a = 1
      console.log("a?",a)
    }

    document.getElementById('btn').addEventListener('click',saySomething)
  </script>

  <script type="module">
        import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'
        const swiper = new Swiper('.swiper', {
            loop: true,
            pagination: {
              el: '.swiper-pagination',
            },
            scrollbar: {
              el: '.swiper-scrollbar',
            },
          });
  </script>
  <style>
  </style>
    {% endblock%}